<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-top">
      <div class="footer-brand-block">
        <a class="footer-brand" href="index.html" aria-label="NewLeaf home">
          <img
            class="footer-logo-img"
            src="images/logo.png"
            alt="NewLeaf"
            width="169"
            height="54"
            decoding="async"
          >
        </a>
        <nav class="footer-nav" aria-label="Footer">
          <a class="footer-nav-link" href="#">About Us</a>
          <a class="footer-nav-link" href="#">Contact Us</a>
          <a class="footer-nav-link" href="#">Terms and Conditions</a>
        </nav>
      </div>

      <ul class="footer-social" role="list">
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="mailto:hello@example.com"
            aria-label="Email us"
          >
            <img
              src="images/email_icon.svg"
              alt=""
              width="32"
              height="32"
              decoding="async"
            >
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="#"
            aria-label="Facebook"
          >
            <img
              src="images/facebook_icon.svg"
              alt=""
              width="32"
              height="32"
              decoding="async"
            >
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="#"
            aria-label="LinkedIn"
          >
            <img
              src="images/linkedin_icon.svg"
              alt=""
              width="32"
              height="32"
              decoding="async"
            >
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="#"
            aria-label="Instagram"
          >
            <img
              src="images/insta_icon.svg"
              alt=""
              width="32"
              height="32"
              decoding="async"
            >
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="#"
            aria-label="X (Twitter)"
          >
            <img
              src="images/twitter_icon.svg"
              alt=""
              width="32"
              height="32"
              decoding="async"
            >
          </a>
        </li>
      </ul>
    </div>

    <p class="footer-copyright">
      2026 Group 1, Inc All Rights Reserved
    </p>
  </div>
</footer>
